body{
    display: flex;
    flex-flow: wrap;
    max-width: 775px;
    max-height: 620px;
}

header{
    display: grid;
    grid-template-columns: 385px 385px;
    grid-template-rows: 205px;
}

main{
    display:grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 200px 200px 200px;
    column-gap: 5px;
    row-gap: 5px;
}

.shellVillage{
    grid-column: 2;
    grid-row: 1;
    width: 385px;
    height: 200px;
}

p{
   grid-column: 1;
   text-align: center;
   font-size: 40px;
   font-style: italic;
   color:skyblue;
   width: 385px;
   height: 200px;
}

.coconutSorbet{
    grid-row: 1;
    width: 150px;
    height: 200px;
}

.helloKitty{
    grid-row: 1;
    width: 150px;
    height: 200px;
}

.bikes{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 305px;
    height: 405px;
}

.phone{
    grid-column: 5;
    grid-row: 1;
    width: 150px;
    height: 200px;
}

.starfishClip{
    grid-column: 5;
    grid-row: 2;
    width: 150px;
    height: 200px;
}

.floridaCarTuition{
    grid-column: 1;
    grid-row: 3;
    width: 150px;
    height: 200px;
}

.sandDrawing{
    grid-column: 2;
    grid-row: 3;
    width: 150px;
    height: 200px;
}

.dolphins{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    width: 305px;
    height: 200px;
}

.bedroom{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3;
    max-width: 460px;
    max-height: 200px;
}

